# Python
venv/
__pycache__/
*.pyc

# Database lokal (data uji/hasil tap, bukan bagian dari kode)
*.db

# STM32CubeIDE
Debug/
Release/

# PlatformIO
.pio/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
